<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Administrator</h2>
            <h4>admin@fog.az</h4>
        </div>
        <img src="https://alnadeko.com/android/server/logo.jpg" alt="Soufiane FADIL">
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
      <mat-icon>import_contacts</mat-icon>
      <!-- {{ 'Home' }} -->
      Dashboard
    </a>s
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/polls">
      <mat-icon>import_contacts</mat-icon>
      Polls
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">
      <mat-icon>import_contacts</mat-icon>
      Posts
    </a>
    <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/articles">Articles</a> -->

    <mat-divider></mat-divider>

    <h2 matSubheader>Tools</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>import_contacts</mat-icon>
        Contacts
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>contact_phone</mat-icon>
        Leads
    </a>

</mat-nav-list>
